/*
 * Header
 */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c6c6c6;
}


/* Product name */
.product-name {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-family: 'Lora', serif;
  font-size: 0.875rem;
  line-height: 1.2;
}


/* Product slider */
.product-img-slider {
  display: flex;
  overflow-y: scroll;
}


/*
 * Product meta data + colour picker
 */

.product-metadata {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: 'Raleway', sans-serif;
}

.product-price {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 400;
}

.product-id,
.product-colour-current {
  font-size: 0.75rem;
  color: #171717;
}

.product-colour {
  padding-left: 1rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

/* Colour picker */

.product-colour-picker-black,
.product-colour-picker-honey {
  margin-right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.product-colour-picker-black {
  background-color: #232122;
}

.product-colour-picker-honey {
  background-color: #cfa880;
}

/* Separator line */
hr {
  border-top: solid 1px #c6c6c6;
  margin: 2rem 1rem;
}
