/*
 * Header
 */

.header {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #c6c6c6;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* Product name */

.title {
  margin: 1rem;
  font-family: "Lora", "Times New Roman", serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
}

/* Product slider */

.img-slider {
  display: flex;
  overflow-y: scroll;
}

/*
 * Product meta data + colour picker
 */

.metadata {
  display: flex;
  margin: 1rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  justify-content: space-between;
  align-items: center;
}

.metadata__price {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.1875rem;
}

.metadata__id {
  margin: 0;
  font-size: .75rem;
  line-height: 1rem;
  color: #171717;
}

/* Colour picker */

.colour-picker {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.colour-picker__description {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #171717;
}

.colour-picker__button-wrapper {
  display: flex;
}

.colour-picker__button {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  line-height: 1;
  border: none;
  border-radius: 50%;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

.colour-picker__button--black {
  background-color: #232122;
}

.colour-picker__button--honey {
  background-color: #cfa880;
}

.colour-picker__button--active {
  border: 1px solid #232122;
}

/* Separator line */

.separator {
  margin: 2rem 1rem;
  border-top: none;
  border-bottom: solid 1px #c6c6c6;
}

/*
 * Product actions
 */

.actions {
  margin-right: 1rem;
  margin-left: 1rem;
}

.actions__button {
  display: block;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: .75rem;
  line-height: 0.875rem;
  text-transform: uppercase;
}

.actions__button--primary {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: #fff;
  background-color: #171717;
  border: solid 1px #171717;
  border-radius: .125rem;
}

.actions__button--secondary {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: .125rem;
}

.actions__button--tertiary {
  padding: 0;
  line-height: 1rem;
  text-align: left;
  background-color: #fff;
  border: none;
}

/*
 * Product details
 */

.details {
  margin-top: 3rem;
  margin-bottom: 2.875rem;
}

.details__dropdown {
  display: block;
  width: 100%;
  padding: 2rem 1rem;
  text-align: left;
  background-color: #fff;
  border-top: solid 1px #c6c6c6;
  border-right: none;
  border-bottom: solid 1px #c6c6c6;
  border-left: none;
}

.details__dropdown:after {
  content: url(../img/triangle.svg);
  position: absolute;
  right: 1rem;
  margin-top: -1.25rem;
}

.details__dropdown--active {
  border-bottom: 0;
}

.details__dropdown--active:after {
  transform: rotate(180deg);
}

.details__title {
  margin: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #171717;
  text-transform: uppercase;
}

.details__description {
  margin-right: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  font-family: "Lora", "Times New Roman", serif;
  font-size: .875rem;
  line-height: 1.5rem;
}

.details__description p, ul, li {
  padding: 0;
  margin: 0;
}

.details__description ul {
  list-style: none;
}

/*
 * Recommended products
 */

.recommended {
  margin-right: 1rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
}

.recommended__title {
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.19;
  text-transform: uppercase;
  vertical-align: baseline;
  border-bottom: 1px solid #171717;
  box-sizing: border-box;
}

.recommended__products {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommended__product-card {
  padding-bottom: 2rem;
  box-sizing: border-box;
  flex-basis: 8.125rem;
}

.recommended__product-card:nth-last-of-type(-n+2) {
  padding-bottom: 0;
}

.recommended__link {
  text-decoration: none;
}

.recommended__product-image {
  height: 174px;
  max-width: 100%;
  vertical-align: middle;
}

.recommended__product-title {
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-family: "Lora", "Times New Roman", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875rem;
  color: #111;
}

.recommended__product-price {
  margin: 0;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: .875rem;
  color: #999;
}

/*
 * More for you
 */

.more {
  margin-top: 3rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.more__title {
  display: inline-block;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1875rem;
  text-transform: uppercase;
  border-bottom: 1px solid #171717;
}

.more__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.more__item {
  margin-bottom: 1rem;
  line-height: 1;
}

.more__item:last-of-type {
  margin-bottom: 0;
}

.more__link {
  font-family: "Lora", "Times New Roman", serif;
  font-size: .875rem;
  font-style: italic;
  line-height: 1.0625rem;
  color: #171717;
  text-decoration: none;
}

/*
 * Footer
 */

.footer {
  padding: 2rem 1rem 2rem 1rem;
  margin-top: 4rem;
  background-color: #f3f3f3;
  box-sizing: border-box;
}

.footer__button {
  display: block;
  padding: 0;
  margin-bottom: 1rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  font-weight: normal;
  line-height: 1rem;
  color: #999;
  background-color: inherit;
  border: none;
}

.footer__button:last-of-type {
  margin-bottom: 0;
}

.need-help {
  text-align: center;
}

.need-help__title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1875rem;
}

.need-help__link {
  font-family: "Lora", "Times New Roman", serif;
  font-size: .875rem;
  font-style: italic;
  line-height: 1.0625rem;
  color: #171717;
  text-decoration: none;
