.header {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: solid 1px #c6c6c6;
}

@media screen and (min-width: 48rem) {
  .header {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.header__link {
  line-height: 0;
}
